# [stdgems.org](https://stdgems.org)

## About Ruby's Gemified Standard Library

Large portions of Ruby's standard library come in the form of [RubyGems](https://rubygems.org), which can be updated independently from Ruby.

There are two different kinds of standard gems:

- **Default gems:** These gems are part of Ruby and you can always require them directly. You cannot remove them. They are maintained by Ruby core.

- **Bundled gems:** The behavior of bundled gems is similar to normal gems, but they get automatically installed when you install Ruby. They can be uninstalled and they are maintained outside of Ruby core.

There are a few libraries that will stay non-gem **default libraries**, because they are very dependent on the specific Ruby version.

## Standard Gems Version Data

Every Ruby version ships a specific set of default gems, default libraries, and bundled gems. The following tables show all standard libraries included in the current Ruby version **<%= current_ruby_version %>**. The data is also available as JSON:

- [default_gems.json](/default_gems.json)
- [bundled_gems.json](/bundled_gems.json)
- [libraries.json](/libraries.json)

<br>
Other important websites in 2022: [Support Ukraine](https://bit.ly/3O3y8YX), [Latest IPCC report](https://bit.ly/3E9AkJV), [SARS-CoV-2 Variants](https://bit.ly/3vf0V4e)

## Default Gems in Ruby <%= current_ruby_version %>
{:.table-caption}

Default Gem | <%= current_ruby_version %> | <%= ruby_prev_version(current_ruby_version) %> | Description | Resources
------------|---------------------|----------------------------------------|-------------|----------
<%= default_gems_list %>
{:.table-12-7-7-45-X}

## Bundled Gems in Ruby <%= current_ruby_version %>
{:.table-caption}

Bundled Gem | <%= current_ruby_version %> | <%= ruby_prev_version(current_ruby_version) %> | Description | Resources
------------|---------------------|----------------------------------------|-------------|----------
<%= bundled_gems_list %>
{:.table-12-7-7-45-X}

## Default Libraries
{:.table-caption}

Default Library | Description | Resources
--------|-------------|----------
<%= libraries_list %>
{:.table-20-X-25}

## Gem Tables by Version

<%= listed_ruby_versions.group_by{ |ruby_version| ruby_version.to_f }.map{ |_, ruby_versions| "- Gem list for Ruby: " + ruby_versions.map{ |ruby_version| "[#{ruby_version}](/#{ruby_version})" }.join(" · ") + (ruby_versions[0] > current_ruby_version ? " (preview)" : "") }.join("\n") %>
- Compare versions: [Main Rubies](/compare) · [Supported Rubies](/compare/supported) · [All Rubies](/compare/all) · [3.0](/compare/3.0) · [2.7](/compare/2.7) · [2.6](/compare/2.6) · [2.5](/compare/2.5) · [2.4](/compare/2.4) · [2.3](/compare/2.3) · [2.2](/compare/2.2)
- Gemified in: [3.1](/new-in/3.1) · [3.0](/new-in/3.0) · [2.7](/new-in/2.7) · [2.6](/new-in/2.6) · [2.5](/new-in/2.5) · [2.4](/new-in/2.4) · [2.3](/new-in/2.3) · [2.2](/new-in/2.2)
- List of [Non-Gem Default Libraries](/libraries)
- List of [Unmaintained Default Gems](/unmaintained)
- List of [Removed Standard Gems](/removed)

## About stdgems.org

This page and the JSON data files it is based on are maintained on [GitHub](https://github.com/janlelis/stdgems). Originally based on [episode 20 of Idiosyncratic Ruby](https://idiosyncratic-ruby.com/20-better-standards.html) and put together by [Jan Lelis](https://janlelis.com).

Page Version: <%= stdgems_version %> ([Change Log](/changelog))

[Data Protection](https://janlelis.com/data-protection.html)

<a href="https://github.com/janlelis/stdgems"><img style="position: fixed; top: 0; right: 0; border: 0; z-index: 200;" src="/images/forkme.png" alt="Fork me on GitHub"></a>
